
</script>
</head>

<body>
  <br>
  <br>
  <div class="container " role="main">
    <h2><strong> 내 정보보기</strong></h2>
    <button type="button" name="return"onclick="location.href='/home'">
    돌아가기
  </div>

  <br>
  <h5>별명  <input id="toaddress" size="5" placeholder="귀여미"></input> </h5>
  <h5>현재코인  <input id="sendcoin" size="5" placeholder="1.10"></input> </h5>
  
  <br>
  <button type="button" name="BuyCoin"onclick="location.href='/buycoin'">
    코인충전
  </button>
  </div>
  <div class="container " role="main">
  </div>


<hr>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"><b>copyright ⓒ RealReview, Since 2021 . All Rights Reserved. </b></p>
  </div>
</footer>
</body>
</html>
